html,body{
    margin:0;
    padding: 0;
	width: 100%;
	height: 100%;
    display: table;
}
a{
    text-decoration: none;
    color:cornflowerblue;
}
*{
    box-sizing: border-box;
}
body{
    background: url(Images/mac.jpg) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
}
.page{
    height: 110vh;
}
.intro{
    text-align: center;
    height: 30vh;
    padding-top: 13vh;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: white;
}
.header{
    background: url(Images/background1.jpg) no-repeat center center fixed; 
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img{
  max-width: 100%; 
}
.contents{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.introPara{
    text-align: center;
    width:50%;
    height:110vh;
    background: rgba(0,0,0,0.4);
    border-radius: 0% 0px;
    padding: 40px;
    color: white;
    margin: 0 auto;
    max-width: 500px;
}
.name{
    font-family: 'Bungee Shade', cursive;
    line-height: 1;
    margin-top: 100px;
}
.desc{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
}
.para{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 20px;
    padding-bottom: 200px;
}
footer{
    color: white;
    display: table-row;
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    font-weight:900;
    background: url('Images/Thankyou.jpg') no-repeat center center fixed;
    background-size: cover;
}
footer p{
    padding-top: 25%;
    text-shadow: 3px 5px 10px #FF0033;
}
footer img{
	height: 30px;
}

/* Welcome Screen */
*{
    margin: 0;
    padding: 0;
}
.welcome{ 
    background: url('Images/WelcomeBackground.jpg') no-repeat center center fixed;
    background-size: cover; 
}
 .flyInText {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.flyInText li {
    display: inline-block;
    font-family: 'Julius Sans One', sans-serif;
    text-shadow: 5px 8px 10px #222;
    font-weight: 300;
    font-size: 120px;
    color: #fff;
    opacity: 1;
    transition: all 2.5s ease;
}
.flyInText  li:last-child {
    margin-right: 0;
}
.flyInText .hidden li {
    opacity: 0;
}
.flyInText.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.flyInText.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.flyInText.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.flyInText.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.flyInText.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.flyInText.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.flyInText.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }  

/*Skills Page */
.skills{
    background: url(Images/skillsWallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}
.skill{
    box-sizing: border-box;
    color: white;
    margin-left: 20px;
    margin-top: 40px;
    width: 500px;
    height: 300px;
    border-radius: 90px 50%;
    background-color: rgba(0,0,0,0.7);
}
.skill ol li {
    list-style: none;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.skill ol{
    text-align: center;
    padding: 35px;
}

.frontEnd,.backEnd{
    float: left;
    margin-left: 5%;
}
.programming,.android{
    float: right;
    margin-right: 5%;
}
.skillContainer{
    position: relative;
    top: 5%;
    transform: translateY(-50%);
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.skill h1{
    padding:  50px 0 10px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color:white;
    font-size: 25px;
}

/* Resume Page */
.line{
    padding: 100px 0;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.7;
    font-family: 'Bree Serif', serif;
}
.resume h1{
    font-size: 60px;
    background: rgba(255,255,255,0.9);
    color: black;
    height: 150px;
    padding-top:40px; 
}
.resumePic{
    display: block;
    margin-top: 100px;
    margin: 0 auto;
    border: 25px solid black;
}
.resume a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    text-align: center;
}
.resume{
    height: 1900px;
}

/*Contact Page */
.contact{
    background: url('Images/contact2.jpg') no-repeat center center fixed;
    background-size: cover;
}
.contactContent{
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    color: black;
    font-size: 30px;
    position: relative;
    top:20%;
    transform: translateY(-30%);
    background: rgba(255,255,255,0.8);
    padding: 100px;
    padding-top: 140px;
    border-radius: 70% 0px;
    box-sizing: border-box;
}

/*Calendar*/
.calendar{
    height: 250px;
    width: 100%;
    color: white;
}
.calendar a{
    text-decoration: none;
}
.calendar a p{
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 100px;
}