body {
	font-family: sans-serif;
	background: #384047;
}
h1 {
	color: #fff;
	text-align: center
}

ul {
	list-style:none;
	margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 780px;
	text-align: center;
}
ul li {
	display: inline-block;
	padding: 8px;
	background:white;
	margin:10px;
}
ul li img {
	display: block;
    max-width: 300px;
}
a {
	text-decoration: none;
}
/** Start Coding Here **/
#overlay {
  background:rgba(0,0,0,0.9);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
    margin-top: 10%;
    max-width: 700px;
}

#overlay p {
    background: black;
    border: 2px solid white;
    color:white;
    font-size: 20px;
    max-width: 40%;
    margin-left: 30%;
}














